



body{
    background-color: aquamarine;
}

/* .btn-open{
    background-color: blue;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.modal{
    width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    background-color: bisque;
}

.text{
    text-align: center;
}

.img{
    display: flex;
    justify-content: center;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.no-scroll{
    overflow: hidden;
}

img{
    width: 350px;
}
 */
