html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    padding-top: 100px;
}

/* img{
    display: block;
    width: 100%;
}

.box{
    background-color: aqua;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}


.overlay{
    position: absolute;
    background-color: blanchedalmond;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
} */


.box:hover .overlay{
 transform: translateY(0);
}


/* .text{
    font-size: 25px;
    color: blueviolet;
    font-weight: 700;
} */


img{
    display: block;
    width: 100%;
}

body{
    background-color: aquamarine;
}


.card{
   background-color: aqua;
   border: 5px solid blue;
   border-radius: 10%;
   width: 300px;
   overflow: hidden;
}

.text{
    text-align: center;
    margin: 10px;
}

.title{
    font-size: 20px;
    text-align: center;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300%;
    background-color: yellow;
    transform: translateY(100%);
    transition: transform 260ms ease-in-out;
}

.wrap:hover .overlay{
    transform: translateY(0);
}

.wrap{
    position: relative;
    overflow: hidden;
}


/* .btn-open{
    background-color: blue;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.modal{
    width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    background-color: bisque;
}

.text{
    text-align: center;
}

.img{
    display: flex;
    justify-content: center;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.no-scroll{
    overflow: hidden;
}

img{
    width: 350px;
}
 */

 .btn{
    background-color: rgb(0, 119, 255);
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
 }

 .btn:hover{
    background-color: rgb(0, 89, 191);
 }

 .btn:disabled{
    cursor: not-allowed;
 }

 .form-input:checked{
    outline: 2px solid red;
 }

.form-input:checked + .form-label{
    color: red;
    text-decoration: underline;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-item{
    outline: 1px solid grey;
    margin-right: 30px;
    position: relative;
}

.menu-link{
    cursor: pointer;
    background-color: skyblue;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    color: black;
    font-style: 18px;
    font-weight: 700;
}

.submenu{
    position: absolute;
    display: none;
    width: 100%;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 15px;
    margin: 0;
    background-color: #ccc;
}

.menu-item:hover .submenu{
    display: block;
}

.page-header{
    position: fixed;
    top: 0;
    left: 0;
    border-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    width: 100%;
    outline: 2px solid;
}

.one{
    background-color: blue;
}

.two{
    background-color: aqua;
}

.three{
    background-color: blueviolet;
}
