.team{
    background-color: bisque;
    padding-top: 50px;
    padding-bottom: 50px;

    &:hover{
        background-color: azure;
    }

    &__title{
        color: royalblue;
    }

}

.team__list{

}

.team__item{

}